[submodule "BitPounce/vendor/spdlog"]
	path = BitPounce/vendor/spdlog
	url = https://github.com/BitPounce/spdlog
[submodule "BitPounce/vendor/GLFW"]
	path = BitPounce/vendor/GLFW
	url = https://github.com/BitPounce/glfw
[submodule "BitPounce/vendor/imgui"]
	path = BitPounce/vendor/imgui
	url = https://github.com/BitPounce/imgui
	branch = docking
[submodule "BitPounce/vendor/glm"]
	path = BitPounce/vendor/glm
	url = https://github.com/BitPounce/glm
[submodule "BitPounce/vendor/debugbreak"]
	path = BitPounce/vendor/debugbreak
	url = https://github.com/BitPounce/debugbreak
[submodule "BitPounce/vendor/stb"]
	path = BitPounce/vendor/stb
	url = https://github.com/BitPounce/stb.git
[submodule "BitPounce/vendor/bgfx"]
	path = BitPounce/vendor/bgfx
	url = https://github.com/BitPounce/bgfx
[submodule "BitPounce/vendor/bimg"]
	path = BitPounce/vendor/bimg
	url = https://github.com/BitPounce/bimg
[submodule "BitPounce/vendor/bx"]
	path = BitPounce/vendor/bx
	url = https://github.com/BitPounce/bx
[submodule "BitPounce/vendor/miniaudio"]
	path = BitPounce/vendor/miniaudio
	url = https://github.com/BitPounce/miniaudio
[submodule "BitPounce/vendor/entt"]
	path = BitPounce/vendor/entt
	url = https://github.com/BitPounce/entt
