[submodule "BitPounce/vendor/spdlog"]
	path = BitPounce/vendor/spdlog
	url = https://github.com/BitPounce/spdlog
[submodule "BitPounce/vendor/GLFW"]
	path = BitPounce/vendor/GLFW
	url = https://github.com/BitPounce/glfw
[submodule "BitPounce/vendor/imgui"]
	path = BitPounce/vendor/imgui
	url = https://github.com/BitPounce/imgui
	branch = docking
[submodule "BitPounce/vendor/glm"]
	path = BitPounce/vendor/glm
	url = https://github.com/BitPounce/glm
[submodule "BitPounce/vendor/debugbreak"]
	path = BitPounce/vendor/debugbreak
	url = https://github.com/BitPounce/debugbreak
